# Игнорируем бинарные файлы
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Игнорируем файлы сред разработки (если пользуешься VSCode или GoLand)
.idea/
.vscode/
*.swp

# ИГНОРИРУЕМ ФАЙЛЫ С ПАРОЛЯМИ И КОНФИГАМИ
.env

# Игнорируем vendor (если используешь)
vendor/
